# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Mac
.DS_Store

# Django
db.sqlite3
media/
staticfiles/
.env
.venv
__pycache__/
*.pyc
.DS_Store
